<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Sistema de Gestão Hospitalar.</mat-card-title>
    <mat-card-subtitle>Painel</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/home.svg" alt="home">
  <mat-card-content>
    <p>
      Bem-vindo ao Sistema de Gestão Hospitalar. <br> <br> 
      Este painel foi desenvolvido para otimizar o acompanhamento dos status de atendimentos médicos, exames e radiologia. <br>
      Em tempo real, você pode visualizar o progresso de cada processo, desde o agendamento até a conclusão. <br>
      Acompanhe o status de cada paciente de forma eficiente e rápida, ajudando na organização e na melhoria da experiência no atendimento hospitalar.<br>
      <br><br>
      Fique à vontade para explorar as funcionalidades e garantir que todos os processos sejam gerenciados com precisão e agilidade!
    </p>
  </mat-card-content>
</mat-card>
